.co-btn {
  outline: none;
  width: 100%;
  line-height: 48px;
  padding: 0px 20px;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
  background: transparent;
  transition: var(--transition);
  transition-property: border-color, opacity, padding, margin, background-color, transform;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 6px;
  height: 100%;
  &:disabled,
  &[data-loading="true"] {
    opacity: 0.65;
    pointer-events: none;
    color: #000;
  }
  .icon {
    margin-left: 8px;
    svg {
      width: 16px;
    }
  }
}

.co-btn.readOnly {
  pointer-events: none;
}

.co-btn-icon {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  transition: var(--transition);
  transition-property: border-color, opacity, padding, margin, background-color, transform;

  svg {
    width: 18px;
    height: 18px;
    path {
      fill: #333;
    }
  }

  &:hover {
    background-color: #f4f4f4;
  }

  &:focus {
    border: 1px solid rgba(#000, 0.1);
  }

  &:active {
    border: 1px solid rgba(#000, 0.15);
  }
}

.co-btn[data-loading="true"] {
  padding-left: 32px;
  .svg-icon.spinner {
    position: absolute;
    left: 10px;
    top: calc(50% - 7.5px);
    .s-spinner {
      animation: rotate 0.8s linear infinite;
      width: 15px;
      height: 15px;
    }
  }
}

.co-btn.co-btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  &:hover,
  &:focus {
    background-color: lighten(#ffcc80, 5%);
  }
  &:active {
    background-color: darken(#ffcc80, 12%);
    transform: scale(0.95);
  }
}

.co-btn.co-btn-outline {
  border-color: var(--accent-color);
  &:hover,
  &:focus {
    background-color: rgba(#ffcc80, 0.15);
  }
  &:active {
    background-color: rgba(#ffcc80, 0.20);
    transform: scale(0.98);
  }
}

.co-btn.co-btn-sm {
  line-height: 30px;
  padding: 0 16px;
  .icon svg {
    width: 14px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.auth-container .co-btn {
  padding: 0 10px;
}
