@import "normalize.css/normalize.css";
@import "./vars.scss";
@import "./layouts.scss";
@import "./pages/";
@import "./components/";

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: content-box;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  svg {
    width: 16px;
    height: 16px;
  }
}

.nested-link {
  width: 100%;
  text-decoration: none;
}

.co-divider {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 24px 0;
  &::after,
  &::before {
    content: "";
    top: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #e0dede;
    position: absolute;
    width: 50%;
  }
  &::before {
    left: 0;
  }
  &::after {
    left: 100%;
  }
}

.link {
  color: var(--main-text-color);
  text-decoration: none;
  transition: var(--transition);
  font-weight: 500;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: var(--transition);
    opacity: 0;
  }
  &:hover {
    color: #000;
    &::after {
      opacity: 1;
      width: 100%;
    }
  }
}

.notification {
  &-item {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 20px;
    padding-left: 64px;
    min-width: 240px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    &.topLeft {
      top: 20px;
      left: 20px;
    }
    &.topRight {
      right: 20px;
      top: 20px;
    }
  }
  &-action {
    position: absolute;
    right: 5px;
    top: 4px;
  }
  &-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
    background-color: var(--background-success);
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: var(--secondary-green-color);
      }
    }
  }
  &-content {
    h3 {
      font-size: 20px;
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.notification-item.error {
  .notification-icon {
    background-color: var(--background-error);
    svg {
      path {
        fill: var(--secondary-red-color);
      }
    }
  }
}

.container {
  &-sm,
  &-md,
  &-xl {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
  &-sm {
    max-width: 680px;
  }
  &-md {
    max-width: 980px;
  }
  &-xl {
    max-width: 1200px;
  }
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
  }
}
