:root {
  // Colors
  --accent-color: #ffcc80;
  --green-color: #66b87a;
  --red-color: #ec5760;
  --secondary-text-on-dark-color: #99a2a9;
  --main-text-on-dark-color: #fff;
  --dark-color: #3c4852;
  --secondary-text-color: #8e8d8d;
  --main-text-color: #3c4852;
  --main-text-hover: #5c6f7e;
  --border-color: #e6e6e6;
  --background-gray-color: #e5e5e54d;
  --border-error: #fbb6bd;
  --input-background-error: #fffcfc;
  --background-success: rgba(#3bb54a, 0.15);
  --secondary-green-color: #3bb54a;
  --background-error: #ffe2e5;
  --secondary-red-color: #f64e60;

  // Others
  --border-radius: 8px;
  --shadow-on-dark: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --transition: 0.2s ease-in;
}
