:root {
  // Colors
  --accent-color: #ffcc80;
  --green-color: #66b87a;
  --red-color: #ec5760;
  --secondary-text-on-dark-color: #99a2a9;
  --main-text-on-dark-color: #fff;
  --dark-color: #3c4852;
  --secondary-text-color: #8e8d8d;
  --main-text-color: #3c4852;
  --border-color: #E6E6E6;
  --border-error: #FBB6BD;
  --input-background-error: #FFFCFC;

  // Others
  --border-radius: 8px;
  --shadow-on-dark: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --transition: 0.2s ease-in;
}
